{% extends 'base.html' %}

{% block content %}
<div>
    <h2>{{genre.name}}</h2>
</div> 

<div class='text-center'>
    <a class='btn btn-link' href='{% url 'genre-detail' pk=genre.pk %}?s=title'>Sort by name ^</a>
    <a class='btn btn-link' href='{% url 'genre-detail' pk=genre.pk %}?s=released'>Sort by date ^</a>
    <a class='btn btn-link' href='{% url 'genre-detail' pk=genre.pk %}?s=rating'>Sort by rating ^</a>
    <a class='btn btn-link' href='{% url 'genre-detail' pk=genre.pk %}?s=-title'>Sort by name v</a>
    <a class='btn btn-link' href='{% url 'genre-detail' pk=genre.pk %}?s=-released'>Sort by date v</a>
    <a class='btn btn-link' href='{% url 'genre-detail' pk=genre.pk %}?s=-rating'>Sort by rating v</a>
</div>

<div class='text-left'>
<ul>
    {% for movie in movies %}
    <li>
        <a href="{% url 'movie-detail' pk=movie.id %}"> 
            <span>
                <strong class='text-info'>{{ movie.title }}</strong>        
                <small class='text-muted'>{{ movie.released.year }} - {{ movie.genre.name }}</small>
            </span>
        </a>     
    </li>
    {% endfor %}
</ul>
</div>

{% if perms.viewer.change_genre %}
<div>
        <p class='text-right'>
            <a class='btn btn-danger' href="{% url 'genre-update' pk=genre.pk %}">Edit Genre</a>
            <a class='btn btn-danger' href="{% url 'genre-delete' pk=genre.pk %}">Delete Genre</a>
        </p>
</div>
{% endif %}

{% endblock %}
