{% extends 'base.html' %}

{% block content %}
<div>
    <img src="{{movie.image}}">
    <h1>{{movie.title}}</h1>
    <p>Released Date: {{movie.released}}</p>    
    <p>Genre: <a href="{% url 'genre-detail' pk=movie.genre.pk %}">{{movie.genre.name}}</a></p>
    <p>Rating: {{movie.rating}}</p>
    <p>Description:<br>{{movie.description}}</p>
</div> 
<div>
    <h6>Comments:</h6>
    <ul>
    {% for comment in comments %}
    <li>           
    <div>
        <span>
          <strong class="text-info">{{ comment.author }} </strong><br>
          <small class="text-muted">{{ comment.body }}</small><br>
          <small class="text-muted">{{ comment.publish }}</small>
        </span>
        <p>
          {{ comment.content|safe }}
        </p>
    </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div>
    <form method="POST" action=''>
        {% csrf_token %}
        {{ form.as_p }}
        <input class='btn btn-danger' type="submit" value='Add Comment'>
    </form>
</div>


{% if request.user.is_authenticated %}
  <div>
          <p class='text-right'>
              <a class='btn btn-danger' href="{% url 'movie-update' pk=movie.pk %}">Edit Movie</a>
              <a class='btn btn-danger' href="{% url 'movie-delete' pk=movie.pk %}">Delete Movie</a>
          </p>
  </div>
{% endif %}

{% endblock %}