{% extends 'base.html' %}

{% block content %}

<form method='post'>

    {% csrf_token %}
    {{ form.non_field_errors }}

    <table>
        {% for field in form %}
            <div class='form-group'>
                <div class='fieldWrapper'>

                    {% if field.label == 'Genre' %}
                        {{field.errors}}
                        <strong>{{field.label_tag}}</strong> <br>{{field}} <label class='text-muted'>Create new: <input id='newgen' type='text' name='newgen'></label>

                    {% else %}
                        {{field.errors}}
                        <strong>{{field.label_tag}}</strong> <br>{{field}}

                    {% endif %}

                    <div>
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    </table>

    <input type='submit' value='Submit' class='btn btn-primary'>
</form>

{% endblock %}

