{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    <ul class='menu'>  
        <li>
            <p><strong>User: </strong>{{ user }}</p>
        </li>
        <li>
            <p><strong>Email: </strong>{{ user.email }}</p>
        </li>
        <li>
            <p><strong>Name: </strong>{{ user.first_name }}</p>
        </li>
        <li>
            <p><strong>Surname: </strong>{{ user.last_name }}</p>
        </li>
    </ul>
    <div>

        <a class='btn btn-danger' href="{% url 'user-update' pk=user.pk %}"> Update </a>
        <a class='btn btn-danger' href="{% url 'user-passwd' pk=user.pk %}">Change Password </a>
        <a class='btn btn-danger' href="{% url 'logout' %}">Logout </a>
    </div>
{% endif %}

{% endblock content %}