{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    <ul class='menu'>  
        <li>
            {{ user }}
            
            
        </li>
        <li>
            {{ user.first_name }} {{ user.last_name }}
        </li>
        <li>
        <a href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
    <div>

        <a class='btn btn-danger' href="{% url 'user-update' pk=user.pk %}"> Update </a>

    </div>
{% endif %}

{% endblock content %}