{% extends 'base.html' %}

{% block content %}
<body>
    <div class='table-container'>
    <table class="list-group">
        <tbody>
            {% for user in users  %}
            <tr>
                <td>
                    <h5><a href="{% url 'profile' pk=user.id %}"> {{user}} </h5>
                </td>

                <td class='btn btn-danger'>
                    <a href="{% url 'user-admin-update' pk=user.id %}">Change</a>
                </td>
                <td class='btn btn-danger'>
                    <a href="{% url 'admin-passwd' pk=user.id %}">Passwd</a>
                </td>
                <td class='btn btn-danger'>
                    <a href="{% url 'user-admin-delete' pk=user.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </div>
        </tbody>
    </table>
</body>
{% endblock  %}