{% extends 'base.html' %}

{% block content %}
<strong class='text-info'><h1 class='text-center'> Forum </h1></strong>
<h3 class='text-info'> Topics: </h3>
<body>
    <table class="table">
    <tbody>
        {% for category  in categorys %}    
            <tr class="list-group-item">
            <td>
                
                <a href="{% url 'category_posts' cat=category.name %}">
                    <strong class='text-muted'>
                        {{category.name}}
                    </strong>
                </a>
                
            </td>
            </tr>
        {% endfor %}
    </tbody>    
    </table>
</bdoy>
{% endblock content %}